a,
a:link {
    color: blue;
}

a:visited {
    color: grey;
}

a:hover,
a:active {
    color: green;
    font-weight: bold;
}

p:first-of-type::first-line {
    text-transform: uppercase;
}

p:nth-of-type(2)::first-line {
    background-color: pink;
}

img:hover {
    border: 2px solid orange;
}

body {
    font: 15px/1.5 arial, helvetica, sans-serif;
}

p::first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}